{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Gestion des etapes</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
		{% include "_inc/flash.message.html.twig" %}
	
    <p class="text-right">
        <a href="{{ url('admin.etape.form') }}" class="btn btn-success"> Ajouter une étape</a>
    </p>
	</div>
		<table class="table table-striped">
			<tr>
				<th>Image</th>
				<th>Nom</th>
				<th>Pays</th>
				<th>Durée</th>
				<th>Actions</th>
			</tr>
			{% for etape in results %}
				<tr>
					<td class="col-md-1">
						<img src="{{ asset('img/etape/' ~ etape.image) }}" class="img-fluid w-100" alt="">
					</td>
					<td class="col-md-4">{{ etape.name }}</td>
					<td>{{ etape.pays.name }}</td>
					<td>
						{% if etape.duration == 1  %}
							{{ etape.duration }} jour</p>
						{% else %}
							{{ etape.duration }} jours</p>
						{% endif %}
					</td>
					<td>
						<a href="{{ url("etape.details", { id:etape.id }) }}" class="btn btn-info col-md-3">Voir</a>
						<a href="{{ url('admin.etape.form.update', { id:etape.id }) }}" class="btn btn-warning col-md-3">Modifier</a>
						<a href="{{ url('admin.etape.delete', { id:etape.id }) }}" class="btn btn-danger col-md-3">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}







