<!--nav class="navbar navbar-expand-lg navbar-light bg-light"-->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{{ url('homepage.index') }}">MyWorldTour</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url('homepage.index') }}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('etape.index') }}">Etapes</a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu">
            <a href="{{ url('admin.etape.index') }}" class="dropdown-item">Gérer les étapes</a>
            <a href="{{ url('admin.pays') }}" class="dropdown-item">Gérer les pays visités</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('admin.contact.index') }}">Mes messages</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url('contact.form') }}">Envoyer un message</a>
      </li>
      {% endif %}
      {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url('security.login') }}">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('registration.register') }}">S'enregistrer</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url('security.logout') }}">Déconnexion</a>
      </li>
      {% endif %}
    </ul>    
  </div>
</nav>